/* HeroDetailComponent's private CSS styles */
body {
  display: flex;
  justify-content: center;
}
h1 {
  display: flex;
  text-align: center;
  line-height: 100%;
}
.detailPic {
  display: flex;
  margin: 0 auto;
  max-height: 50vh;
  max-width: 90%;
  box-shadow: 0px 108px 80px rgba(0, 0, 0, 0.22),
    0px 45.1198px 33.4221px rgba(0, 0, 0, 0.158148),
    0px 24.1232px 17.869px rgba(0, 0, 0, 0.131144),
    0px 13.5233px 10.0172px rgba(0, 0, 0, 0.11),
    0px 7.18211px 5.32008px rgba(0, 0, 0, 0.0888564),
    0px 2.98864px 2.21381px rgba(0, 0, 0, 0.061852);
}
.deetBox {
  text-align: center;
  margin: 0 auto;
  width: 50vw;
}
label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: 0.5rem;
}
button {
  margin-top: 20px;
  margin-right: 0.5rem;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
.game-link:hover{
  cursor: pointer;
}
mat-grid-tile {
  display: flex;
}
.pics {
  display: flex;
  height: 100%;
}
a {
  display: flex;
  height: 100%;
}
a:hover {
  cursor: pointer;
  transform: translateY(-10px);
  transition: 0.5s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .ag-theme-alpine {
    height: 50% !important;
    width: 80% !important;
  }
}
@media screen and (max-width: 768px) {
  .ag-theme-alpine {
    height: 50% !important;
    width: 90% !important;
  }
  .deetBox {
    text-align: center;
    margin: 0 auto;
    width: 75%;
  }
  h2 {
    display: flex;
    text-align: center;
  }
}