<h2>Black Characters in Video Games</h2>
<ul class="heroes">
    <li *ngFor="let character of characters">
      <button [class.selected]="character === selectedCharacter" type="button" (click)="onSelect(character)">
        <span class="badge">{{character.gameOrigin}} </span>
        <span class="name">{{character.name}}</span>
      </button>
    </li>
  </ul>
  <div *ngIf="selectedCharacter">
    <h2>{{selectedCharacter.name | uppercase}}</h2>
    <h3> Details </h3>
    <div>Originally appeared in: {{selectedCharacter.gameOrigin}}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="selectedCharacter.name" placeholder="name">
    </div>
  </div>
