<h2>Black Characters in Video Games</h2>
<!-- <div>
  <label for="new-hero">Character Name: </label>
  <input id="new-hero" #characterName />
  <label for="new-hero">Character Game Origin: </label>
  <input id="new-hero" #characterGame />
  <button type="button" class="add-button" (click)="add(characterName.value, characterGame.value); characterName.value=''; characterGame.value=''">
    Add Character!
  </button>
</div> -->

<mat-grid-list cols="4" rowHeight="4:4" gutterSize="20px">
  <mat-grid-tile *ngFor="let character of characters">
    <mat-card class="example-card">
      <mat-card-header>
        <img mat-card-avatar class="example-header-image" src="{{character.game.boxart}}" alt="Photo of {{character.name}}">
        <mat-card-title>{{character.name}}</mat-card-title>
        <mat-card-subtitle>{{character.game.title}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="thumb" src="{{character.image}}" alt="Photo of {{character.name}}">
      <mat-card-content>
        <!-- <p>{{character.bio[0].children[0].text}}</p> -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" class="char" title="{{character.name}}" routerLink="/detail/{{character.id}}">Details</button>
        <button mat-button color="accent" class="game" title="{{character.game}}" routerLink="/game-detail/{{character.game.id}}">{{character.game.title}}</button>
      </mat-card-actions>
    </mat-card>
      </mat-grid-tile>
  </mat-grid-list>

  <!-- <h2>Black Characters in Video Games</h2>
  <ul class="heroes">
      <li *ngFor="let character of characters">
        <button type="button" [class.selected]="character === selectedCharacter" (click)="onSelect(character)">
          <span class="badge">{{character.game}} </span>
        </button>
      </li>
    </ul>
  
    <app-character-detail [character]="selectedCharacter"></app-character-detail> -->
  