<div *ngIf="game">
  <h1>{{ game.title | uppercase }}</h1>
  <img class="detailPic" src="{{ game.boxart }}" />
  <br />
  <br />
  <h2>Details</h2>
  <div class="deetBox">
    <p>{{ game.description[0].children[0].text }}</p>
  </div>
</div>
<br />
<mat-divider></mat-divider>
<br />
<h2>Black Characters Featured</h2>
<!-- AG Grid Angular Component -->
<ag-grid-angular
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData$ | async"
  [rowSelection]="'multiple'"
  [rowHeight]="150"
  [animateRows]="true"
  (gridReady)="onGridReady($event)"
  (cellClicked)="onCellClicked($event)"
></ag-grid-angular>
<div class="back">
  <button type="button" (click)="goBack()">Back</button>

